@gap: 10px;
@header-height: 36px;
@nav-with: 348px;
@main-margin-left: @nav-with + @gap;
@footer-height: 198px;

#root, .App {
    position: relative;
    width: 100%;
    height: 100%;
    .App-footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: @footer-height;
        z-index: 2;
        padding: 10px;
    }
    .App-header {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: @header-height;
        padding: 6px 20px 6px 20px;
        z-index: 2;
        line-height: 24px;
        
        .ant-dropdown-trigger {
            margin: 0 10px;
            padding: 0 10px;
            cursor: pointer;
        }
    }
    .App-content {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: @header-height @gap @footer-height @gap;
        .nav {
            position: relative;
            width: @nav-with;
            height: 100%;
            float: left;
        }
        .main {
            position: relative;
            margin-left: @main-margin-left;
            height: 100%;
            background: #404141;
            .header {
                padding: 6px;
            }
            .icon-logo {
                display: inline-block;
                width: 28px;
                height: 19.2px;
                background: url(img/clm3-logo.png);
                background-size: cover;
                vertical-align: middle;
            }
            .chart {
                position: absolute;
                left: 6px;
                right: 6px;
                top: 36px;
                bottom: 10px;
            }
        }
    }
}
.panel > .ant-tabs > .ant-tabs-content {
    padding: 2px 4px;
}
.b-symbol-list {
    & > .ant-tabs {
        height: 100%;
        & > .ant-tabs-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 24px;
            overflow-x: hidden;
            overflow-y: auto;
        }
        & > .ant-tabs-bar {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 24px;
            right: 0;
            background-color: #525252;
        }
    }
    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
        padding: 1px 6px 0px 6px;
        background-color: #888;
        border-radius: 0 0 4px 4px;
        min-width: 24px;
        text-align: center;
        margin-left: 6px;
    }
    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab.ant-tabs-tab-active{
        background-color: #1e1f1f;
    }
    .table-rows {
        top: 0;
        .cell {
            box-sizing: border-box;
            width: 160px;
            vertical-align: top;
        }
        .row-selected {
            overflow:hidden;
            margin: 3px 0;
            .sub-row {
                margin: 3px 0;
            }
            .cell {
                width: 158px;
                height: 22px;
                line-height: 22px;
                display: inline-block;
            }
        }
    }
}
.table-header {
    display: table;
    width: 100%;
    .row {
        display: table-row;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        background-color: rgb(82,82,82);
        &:first-child {
            margin-top: 3px;
            border-top: none;
        }
        .cell {
            display: table-cell;
            &.name {
                width: 50%;
            }
            &.price {
                width: 50%;
            }
        }
        .cell:first-child {
            padding-left: 8px;
        }
    }
}

.table-footer {
    display: table;
    width: 100%;;
    background-color: rgb(82,82,82);
    position: absolute;
    left: 0;
    bottom: 0;
    .row {
        display: table-row;
        height: 24px;
        line-height: 24px;
        .cell {
            &:first-child {
                padding-left: 4px;
            }
            display: table-cell;
        }
    }
}


.table-rows {
    position: absolute;
    display: block;
    left: 4px;
    right: 4px;
    top: 30px;
    bottom: 4px;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 4px;
    .row {
        display: block;
        margin: 3px 0;
        background-color: #3b3b3b;
        line-height: 22px;
        border-radius: 4px;
        .cell {
            display: inline-block;
            margin-right: 1px;
            padding: 0 0 0 4px;
            border-right: solid 1px #313131;
        }
        .cell:last-child {
            border-right: none;
        }
        &:hover{
            background-color: #6a6a6a;
        }
    }
}

.btn-down {
    background-color: #990000 !important;
}
.btn-down:hover {
    background-color: #ff0000 !important;
}

.btn-up {
    background-color: #009900 !important;
}
.btn-up:hover {
    background-color: #00ff00 !important;
}

.btn-favorite {
    background-color: #1e1f1f !important;
    margin-right: 6px !important;
}

.btn-favorite:hover {
    background-color: #3a3a3a !important;
}
.btn-favorite.selected {
    background-color: #6666ff !important;
}
.btn-cancel {
    background-color: #5abaf1 !important;
}
.btn-cancel:hover {
    background-color: #4c96c4 !important;
}
.btn-default {
    background-color: #949495 !important;
}
.btn-default:hover {
    background-color: #aaaaaa !important;
}
.order-dialog-small {
    width: 240px !important;
    height: 110px !important;
}

.order-dialog-large {
    width: 480px !important;
    height: 260px !important;
}


.order-dialog-info {
    width: 660px !important;
    .chart-box {
        display: inline-block;
        width: 120px;
        height: 120px;
        margin-right: 40px;
        vertical-align: middle;
    }
    .info-box {
        box-sizing: border-box;
        display: inline-block;
        width: 450px;
        height: 120px;
        padding: 15px 0;
        vertical-align: middle;
        .row {
            height: 30px;
            line-height: 30px;
            .cell {
                display: inline-block;
                text-align: left;
                &.label1 {
                    width: 80px;
                }
                &.value1{
                    width: 140px;
                }
                &.label2 {
                    width: 100px;
                }
                &.value2 {
                    width: 120px;
                }
            }
        }
    }
}

.row-no-record {
    position: relative;
    width: 100%;
    height: 30px;
    text-align: center;
    top: 50%;
    line-height: 30px;
    margin-top: -15px;
}

.order-row {
    overflow: hidden;
    .cell {
        display: inline-block;
        margin: 3px 0;
        width: 33%;
    }
}