@import "~antd/dist/antd.less";   // 引入官方提供的 less 样式入口文件
@import "theme";

@component-bg: #525252;
@padding: 0px;

html {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background: #3a3a3a;
	background: linear-gradient(to bottom, #3a3a3a 0%, #3a3a3a 100%);
	color: rgb(244, 245, 246);
	font-size: 12px;
	font-family: "Microsoft Yahei";
}
a {
	text-decoration: none;
}

:focus {
	outline: none;
}

.panel {
	&>.ant-tabs {
		height: 100%;
		&>.ant-tabs-bar {
			margin-bottom: 0;
		}
		&>.ant-tabs-content {
			position: absolute;
			top: 30px;
			bottom: 0;
			padding: 6px 4px;
			background-color: @component-bg;
			&>.ant-tabs-tabpane-active {
				border-radius: 4px;
				height: 100%;
				background: #1e1f1f;
			}
		}
	}
}

.ant-select {
	color: #fff;
	outline: none;
}
.ant-select .ant-select-selection {
	border: solid 1px #949495;
	background-color: #949495;
}
.ant-tabs-nav-container {
	font-size: 12px;
	line-height: 21px;
}
.ant-select-open .ant-select-selection {
	box-shadow: none;
}
.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
	box-shadow: none;
}

input[type="text"], input[type="email"], input[type="password"], .b-smart-input {
	border: 1px solid transparent;
	height: 18px;
	line-height: 18px;
	font-size: 13px;
	overflow: hidden;
	padding: 0 8px;
	background: #afafaf;
	color: #3a3a3a;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.ant-select-dropdown-menu {
	max-height: 1000px;
}
.ant-notification {
	.ant-notification-notice {
		background-color: #323232;
	}
}

.form-row {
	margin-bottom: 12px;
}

.ant-form-item {
	margin-bottom: 10px;
}

.ant-form-item-label {
	text-align: right;
	vertical-align: middle;
}
.dialog-change-password {
	width: 480px !important;
	input[type="password"] {
		height: 22px;
		line-height: 20px;
	}
}
